<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span class="h4 text-center">Clients</span>
                <h5 *ngIf="clients.length == 0" >There are no clients in the database</h5>
                <button class="btn btn-dark btn-sm" routerLink="/create-client">Add client</button>
            </div>
            <table *ngIf="clients.length > 0" class="table table-dark table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.address}}</td>
                        <td><i class="fa-solid fa-pen-to-square text-info" [routerLink]="['/edit-client/', client.id]"></i>
                            <i (click)="deleteClient(client.id)" class="fa-solid fa-trash text-danger mx-2"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>