<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="clearfix">
                        <div *ngIf="loading" class="spinner-border spinner-border-sm float-end" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <h3>Client details</h3>
                    <span style="color:red" *ngIf="submitted && creatClient.invalid">*Toate campurile sunt
                        obligatorii</span>
                    <form class="mt-4" [formGroup]="creatClient" (ngSubmit)="addEditClient()">
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="lastname"
                                    placeholder="Last Name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="name"
                                    placeholder="First Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="email"
                                    placeholder="Email">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="phone"
                                    placeholder="Phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="address"
                                    placeholder="Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="city" placeholder="City">
                            </div>
                            <div class="col">
                                <!-- <input type="text" class="form-control mb-2" formControlName="county"
                                    placeholder="County"> -->

                                <select class="form-select form-control mb-2" required formControlName="county"
                                placeholder="County">
                                    <option value="" selected>Select county</option>
                                    <option value="Alba">Alba</option>
                                    <option value="Arad">Arad</option>
                                    <option value="Argeș">Argeș</option>
                                    <option value="Bacău">Bacău</option>
                                    <option value="Bihor">Bihor</option>
                                    <option value="Bistrița-Năsăud">Bistrița-Năsăud</option>
                                    <option value="Botoșani">Botoșani</option>
                                    <option value="Brașov">Brașov</option>
                                    <option value="Brăila">Brăila</option>
                                    <option value="București">București</option>
                                    <option value="Buzău">Buzău</option>
                                    <option value="Caraș-Severin">Caraș-Severin</option>
                                    <option value="Călărași">Călărași</option>
                                    <option value="Cluj">Cluj</option>
                                    <option value="Constanța">Constanța</option>
                                    <option value="Covasna">Covasna</option>
                                    <option value="Dâmbovița">Dâmbovița</option>
                                    <option value="Dolj">Dolj</option>
                                    <option value="Galați">Galați</option>
                                    <option value="Giurgiu">Giurgiu</option>
                                    <option value="Gorj">Gorj</option>
                                    <option value="Harghita">Harghita</option>
                                    <option value="Ialomița">Ialomița</option>
                                    <option value="Iași">Iași</option>
                                    <option value="Ilfov">Ilfov</option>
                                    <option value="Maramureș">Maramureș</option>
                                    <option value="Mehedinți">Mehedinți</option>
                                    <option value="Mureș">Mureș</option>
                                    <option value="Neamț">Neamț</option>
                                    <option value="Olt">Olt</option>
                                    <option value="Prahova">Prahova</option>
                                    <option value="Satu Mare">Satu Mare</option>
                                    <option value="Sălaj">Sălaj</option>
                                    <option value="Sibiu">Sibiu</option>
                                    <option value="Suceava">Suceava</option>
                                    <option value="Teleorman">Teleorman</option>
                                    <option value="Timiș">Timiș</option>
                                    <option value="Tulcea">Tulcea</option>
                                    <option value="Vaslui">Vaslui</option>
                                    <option value="Vâlcea">Vâlcea</option>
                                    <option value="Vrancea">Vrancea</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control mb-2" formControlName="iban1" placeholder="IBAN">
                            </div>
                        </div>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-success ">OK</button>
                            <button type="text" class="btn btn-danger mx-2" routerLink="/list-clients">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>